<div data-role="content" style="padding-left:100px; padding-right:100px">
    <hr>
    <p>Name: Tim Chiu</p>
    <p>Age: 21</p>
    <p>Languages: English, and Cantonese</p>
    <p>Program: Software Engineering Technology: Interactive Gaming</p>
    <hr />
    
    <!-- Courses -->
    <h3>Current Courses</h3>
        <li>Comp308 - Emerging Technology</li>
        <li>Comp313 - Software Development Project 2</li>
        <li>Comp395 - Simulation Design</li>
        <li>Comp392 - Advanced Graphics</li>
        <li>Comp397 - Web Game Programming</li>
        <li>Cnet329 - Business and ICT</li>
        <li>Emps102 - Employment skills II</li>
    
    <hr />
    <!-- Picture of me (Taken 6 month ish ago)-->
    <img src="images/timchiu.png">
    <p>Picture of me!</p>
    <br>
</div>