<div id="content" style="padding-left:115px; padding-right:100px">
    <hr>
    <p>
        During my study at Centennial College, I've done many projects, 
        group work, and assignments. Below are some stuff I have completed:
    </p>
    <li>Comp231 - Mobile Application</li>
    <li>Comp397 - Interactive Story</li>
    <li>Comp231 - Mobile Application</li>
    <hr>
    <li><p>
        For Comp231 - Software Development Project 1, 
        our group decided to make a mobile application called "Wanna...?". 
        The application allows user(s) to search events within a local area and join the event.
    </p></li>
    
    <li><p>
        For Comp397 - Web Game Programming, 
        we were given an assignment to make a Interactive Story, mine is called "The Amnesiac"
        The game allows the user/player to choose their own path, and try to finish the story.
    </p></li>
    
    <li><p>
        For Comp313 - Software Development Project II, 
        our group decided to make a mobile game called "LetsBrawl".
        The game is very similar to the Super Smash Bros series by Nintendo. 
        As of now, we are still currently working on this.
    </p></li>
    
    <div>
    <hr>
    <!-- Featured Work -->
    <h3>Featured Work</h3>
    <h5>Comp231 - Mobile Application - Wanna...?</h5>
    Project Name: Wanna...?
    <li>Github Repository: 
        <a href="https://github.com/COMP231-S63G1/COMP231-S63G1">Wanna...?</a>
    </li>
        <div>
            <img src="images/wannaLogo.png" />
        </div>
        Wanna...?
    </div>

    <!-- Currently Working On -->
    <div>
    <hr>
    <h3>Currently Working On</h3>
    <h5>Comp231 - Mobile Application - LetsBrawl</h5>
    Project Name: LetsBrawl
    <li>Github Repository: 
        <a href="https://github.com/TeamNavdeep/LetsBrawl">LetsBrawl</a>
    </li>
        <div>
            <img src="images/letsBrawl.png" />
        </div>
        LetsBrawl!
    </div>

    <!-- Feature Work 2 -->
    <div>
    <hr>
    <h3>Featured Work 2</h3>
        <h5>Comp397 - Interactive Story</h5>
        Assignment Name: The Amnesiac
        <li>Github Repository: 
        <a href="https://github.com/Tim-Chiu/COMP397">The Amnesiac</a>
    </li>
        <div>
            <img src="images/theAmnesiac.png" />
        </div>
        The Amnesiac
    </div>
    <br>
</div>