Services
<img src="images/logo.png" />
            <p>
                I have a lot of weird talants/skills such as;
            </p>
            <ul>
                <li>Anything hands-on</li>
                <li>Programming</li>
                <li>Drawing</li>
                <li>Architecture</li>
                <li>Gaming (does this count as a skill)</li>
            </ul>
            <hr />

            <!-- Programs -->
            <p>Programs I use (A lot/Mostly)</p>
            <div>
                <img src="images/vs100.png" />
                <p>
                    Visual Studio
                </p>
            </div>

            <div>
                <img src="images/unity100.png" />
                <p>
                    Unity
                </p>
            </div>
            <hr />
            <br />