<div data-role="content" style="padding-left:100px; padding-right:100px">
    
    <!-- Programs -->
    <hr>
    <h3>Programs I use (A lot/Mostly)</h3>
    <div>
        <p>
            <img src="images/unity100.png" />
        </p>
        Unity
    </div>
    <hr>
    <div>
        <p>
            <img src="images/vs100.png" />
        </p>
        Visual Studio
    </div>
    
    <!-- Services/Skills -->
    <hr>
    <p>My list of talants/skills such as;</p>
    <li>Anything hands-on</li>
    <li>Programming</li>
    <li>Drawing</li>
    <li>Architecture</li>
    <li>Video Games(does this count as a skill)</li>
    <li>Game Development</li>
    <li>Game Programming</li>
    <li>Game Design</li>
    <li>Networking</li>
    <li>Microsoft Office</li>
    <li>C#</li>
    <li>Java</li>
    <li>Photoshop</li>
    <li>Scripting</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>Unity</li>
    <li>Unity3D</li>
    <li>Time Management</li>
    <li>Object Oriented Design</li>
    <li>Organization Skills</li>
    <li>Game Mechanics</li>
    <li>Problem Solving</li>
    <li>Analytical Skills</li>
    <li>Responsive Web Design</li>
    <li>XML</li>
    <br>
</div>